<template>
    <div class="global-alerts fixed-bottom mr-2 mb-1">
        <transition-group name="slide-fade">
            <div v-for="(alert, index) in alerts" :key="index">
                <b-alert  
                    :show="alert.countDown"
                    :variant="alert.variant"
                    dismissible
                    @dismiss-count-down="(count) => alertCountDown(alert, index, count)"
                    >
                    
                    <h5>{{alert.title}}</h5>
                    <b-row>
                        <b-col>
                            {{alert.message}}
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <b-button variant="success" v-show="alert.href" @click="() => {if(alert.event) sendEvent(alert.href); else $router.push(alert.href); removeAlert(alert.id)}">{{alert.hrefText}}</b-button>
                        </b-col>
                    </b-row>
                </b-alert>
            </div>
        </transition-group>
    </div>
</template>


<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import EventBus from '../event-bus';
import { jdPackage } from '../services/jd.service';

@Component
export default class AlertsComponent extends Vue {
    alerts: Alert[] = [];

    mounted() {
        
        this.setupEvents();
    }

    setupEvents() {
        EventBus.$on('packageAdded', this.packageAdded);
        EventBus.$on('infoMessage', this.infoMessage)
        EventBus.$on('errorMessage', this.errorMessage);
    }

    packageAdded(pack: any, countDown: number = 5) {

        this.alerts.push({
            countDown: countDown,
            title: `Package added`,
            message: `${pack.name} has been added to the downloads.`,
            href: `showDownloads`,
            event: true,
            hrefText: `View Status`,
            variant: 'success'
        })
    }

    infoMessage(alert: Alert) {
        alert.countDown = alert.countDown || 3;
        alert.variant = "info";
        this.alerts.push(alert);
    }

    errorMessage(alert: Alert) {
        alert.countDown = alert.countDown || 4;
        alert.variant = "warning";
        this.alerts.push(alert);
    }

    removeAlert(index: number) {
        this.alerts.splice(index, 1);
    }

    sendEvent(name: string) {
        EventBus.$emit(name);
    }

    alertCountDown(alert: Alert, index: number, count: number) {
        alert.countDown = count;
        if (count == 0) {
            this.removeAlert(index);
        }
    }
}

export interface Alert {
    countDown: number;
    title: string;
    message: string;
    variant: string;
    event?: boolean;
    href?: string;
    hrefText?: string;
}


</script>


