<template>
<div>
    <headroom :onUnpin="() => pinSecondNav(true)" :onPin="() => pinSecondNav(false)">
        <b-navbar toggleable="sm" type="dark" variant="dark">
        <h1>plreq</h1>


            <div class="nav-links" v-if="isLoggedIn">
                <a class="separator"><span>Search</span></a>
                <router-link to='/search/tv'><b-img src="./search-tv.png"></b-img></router-link>
                <router-link to='/search/movies'><b-img src="./search-movies.png"></b-img></router-link>
            </div>
            <div class="nav-links" v-if="isLoggedIn">
                <a class="separator"><span>Subscribe</span></a>
                <router-link to='/subscriptions/tv'><b-img src="./future-tv.png"></b-img></router-link>
                <!-- <router-link to='/future-releases/movies'><b-img src="./future-movies.png"></b-img></router-link> -->
            </div>
            <!-- <div class="nav-links" v-if="isLoggedIn">
                <a class="separator"><span>Upgrade</span></a>
            </div> -->

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
            <transition name="fade">
                <login-component />
            </transition>
            </b-navbar-nav>
        </b-navbar>
    </headroom>
    <transition name="slide-fade">
        <div v-if="isLoggedIn">
            <transition name="slide-fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </div>
    </transition>
    <status-bar />
    <alerts-component />
</div>
</template>


<script lang="ts">
import { Vue, Component, Prop, Watch} from 'vue-property-decorator';
import SearchComponent from './Search.vue';
import LoginComponent from './Login.vue';
import AlertsComponent from './Alerts.vue';
import EventBus from '../event-bus';
import authService from '../services/auth.service';
import {headroom } from 'vue-headroom';
import StatusBar from './StatusBar.vue';
@Component({
    components: {SearchComponent, LoginComponent, headroom, AlertsComponent, StatusBar}
})
export default class BodyComponent extends Vue {
    currentPage: string = "search";
    isLoggedIn: boolean = authService.isAuthorized;
    showSearchLinks = false;
    showSubLinks = false;
    constructor() { 
        super(); 
    this.watchLogin();
    }
    
    pinSecondNav(set: boolean) {
        EventBus.$emit('pinSecondNav', set);
    }

    watchLogin() {
        EventBus.$on('hasToken', (loggedIn: boolean) => this.isLoggedIn = loggedIn);
    }

    switchPage(page: string) {
        this.currentPage = page; 
    }

}
</script>
