<template>
    <div v-if="isLoading">
        <div class="loading-indicator" :style="{opacity: isLoading ? 100 : 0}">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
    </div>
</template>

<script lang="ts">
import {Vue, Component, Prop} from 'vue-property-decorator';

@Component
export default class Loading extends Vue {

    @Prop()
    isLoading: boolean = false;

} 
</script>
