<template>
    <div>
    <b-nav-form v-if="!isLoggedIn && !registering">
        <b-form-input v-model="user" size="sm" class="mr-sm-2" type="text" placeholder="Username" @keyup.enter.native="login"/>
        <b-form-input v-model="pass" size="sm" class="mr-sm-2" type="password" placeholder="Password" @keyup.enter.native="login"/>
        <b-button  @click="login" size="sm" class="my-2 my-sm-0">Login</b-button>
        <b-button @click="registering=true" size="sm" class="my-2 my-sm-0">Go to Register</b-button>
    </b-nav-form>
    <b-nav-form v-if="!isLoggedIn && registering">
        <b-form-input v-model="userGuid" size="sm" class="mr-sm-2" type="text" placeholder="User GUID" @keyup.enter.native="login"/>
        <b-form-input v-model="user" size="sm" class="mr-sm-2" type="text" placeholder="Username" @keyup.enter.native="login"/>
        <b-form-input v-model="pass" size="sm" class="mr-sm-2" type="password" placeholder="Password" @keyup.enter.native="login"/>
        <b-button  @click="createUser" size="sm" class="my-2 my-sm-0">Register</b-button>
        <b-button @click="registering=false" size="sm" class="my-2 my-sm-0">Go to Login</b-button>

    </b-nav-form>
    <b-nav-dropdown class="login-dropdown" :text="userName"  v-if="isLoggedIn">
       <b-dropdown-item  @click="logout">Logout</b-dropdown-item>
    </b-nav-dropdown>
    
    </div>
    
</template>


<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import authService from '../services/auth.service';
import EventBus from '../event-bus';

@Component
export default class LoginComponent extends Vue {
    user: string = "";
    pass: string = "";
    userGuid: string = "";
    registering: boolean = false;
    isLoggedIn: boolean = authService.isAuthorized;
    userName: string = "";
    constructor() {
        super();
        
    }

    mounted() {
        this.watchLogin();
    }
    watchLogin() { 
        if (authService.isAuthorized) {
            this.userName = authService.user.username;
        }  
        EventBus.$on('hasToken', (user: boolean|any) => { 
            this.isLoggedIn = !!user; 
            this.userName = user ? user.username : ''});
    }


    async login() {
        const result = await authService.getToken(this.user, this.pass, true);
        if (result) {
            this.userName = result.username;
            this.user = "";
            this.pass = "";
        } else {
            this.user = ""
            this.pass = "";
            EventBus.$emit('errorMessage', {title: "Login Failed", message: "Something went wrong... username or password not matching"});

        }
    }

    logout() {
        this.userName = "";
        authService.removeToken();
        
    }

    async createUser() {
        const result = await authService.createUser(this.userGuid, this.user, this.pass);
        if (result) {
            this.registering = false;
            this.userGuid = "";
            EventBus.$emit('infoMessage', {title: "Registration Successful", message: "You have registered successfully. Logging you in..."});
            await this.login();
        } else {
            EventBus.$emit('errorMessage', {title: "Registration Failed", message: "Something went wrong... GUID may be wrong"});
        }
    }
}
</script>

