<template>
    <div>
        <loading :isLoading="isLoading" />
        <div class="second-nav align-items-center justify-content-between d-flex"  v-bind:style="{top: secondNavTop }">
                <span>Future Movie Releases</span>
                <b-btn @click="addSubscriptionCollapse = !addSubscriptionCollapse">{{addSubscriptionCollapse ? '-' : '+'}}</b-btn>
        </div>
        <b-container style="margin-top:150px;">
            <b-list-group  role="tablist">
                <b-list-group-item variant="dark" v-if="addSubscriptionCollapse">
                    <b-input-group>
                        <b-form-input type="text" placeholder="Show Name" v-model="movieNameInput" />
                        <b-input-group-append><b-btn @click="findMovie">Find</b-btn></b-input-group-append>
                    </b-input-group>
                </b-list-group-item>
                <b-list-group-item variant="dark" v-if="addSubscriptionCollapse">
                    <div class="mt-2" v-for="(result, index) in movieSearchResults" :key="result.id">
                        <video-info-component :data="result" :index="index" :onClick="selectShow"/>
                    </div>
                </b-list-group-item>      
                <b-list-group-item v-if="movieSearchResults && movieSearchResults.length == 1">
                    <b-input-group  prepend="Highest Quality">  
                        <b-form-select v-model="highestQuality" :options="qualitiesList" />
                        <b-btn v-if="highestQuality !== ''">Subscribe</b-btn>
                    </b-input-group>
                    
                </b-list-group-item>   
            </b-list-group>   
        </b-container>
    </div>
</template>


<script lang="ts">
import {Vue, Component} from 'vue-property-decorator';
import subService from '../services/sub.service';
import EventBus from '../event-bus';
import Loading from './Loading.vue';
import VideoInfoComponent from './VideoInfo.vue';
@Component({components: {Loading, VideoInfoComponent}})
export default class MovieReleases extends Vue {
    isLoading: boolean = false;
    addSubscriptionCollapse: boolean = false;
    secondNavTop: string = '56px';
    subscriptions: any[] = [];
    chosenShow: boolean = false;
    movieName: string = '';
    movieNameInput: string = '';
    season: number = 0;
    movieId: number = -1;
    movieSearchResults: any[] = [];
    highestQuality: string = "";
    currentQuality: string = "N/A";
    
    qualitiesList = [
        'SD',
        '480P',
        '480P DVDRIP',
        '720P',
        '720P BRRIP',
        '720P WEB-DL',
        '720P BDRIP',
        '1080P',
        '1080P BRRIP',
        '1080P WEB-DL',
        '1080P BDRIP',
        '1080P BDRIP HEVC'];

    mounted() {
        this.getSubscriptions();
        EventBus.$on('pinSecondNav', (val: boolean) => {
            this.secondNavTop = val ? '0px' : '56px';
        });
    }
    
    async getSubscriptions(): Promise<any> {
        this.isLoading = true;
        const subs = await subService.getMovieSubscriptions();       
        subs.data.forEach((x: any) => {
            x.showCollapse = false;
        });
        this.isLoading = false;
        
        this.subscriptions = subs.data;
        
        return this.subscriptions;

    }

    async findMovie() {
        const results = await subService.searchForMovie(this.movieNameInput);
        if (results.data) {
            this.movieSearchResults = results.data;
        }
        this.movieName = this.movieNameInput;
    }

    async selectShow(movieId: number) {
        this.movieId = movieId;
        this.movieSearchResults = this.movieSearchResults.filter(x => x.id == movieId);
        const qualityIndex = this.qualitiesList.indexOf(this.movieSearchResults[0].currentQuality);
        if (qualityIndex !== -1) {
            this.qualitiesList.splice(0, qualityIndex + 1);
        }
    }
    

    async addSubscription(season: number) {
        // DO SOMETHING
        const success = await subService.addMovieSubscription(this.movieName, this.highestQuality, this.movieId);
        if (success.data) {
            const subs = await this.getSubscriptions();
            const sub = subs.find((s: any) => s.movieName == this.movieName);
            if (sub) {
                sub.showCollapse = true;
            }
            this.movieName = '';
            this.season = 0;
            this.currentQuality = sub.highestQuality;
        }
        
        
    }

    async removeSub(sub: any) {
        const success = await subService.deleteSubscription(sub.name, sub.season, sub.id);
        if (success) {
            await this.getSubscriptions();
        }
    }
    
}

</script>
