<template>
<div>
    <div class="second-nav" v-bind:class="{shift: !secondNavTop }">
        <b-row>
            <b-col sm="12" md="6" lg="5" xl="4">
                <b-row class="align-items-center">
                    <b-col cols="6" class="pl-5">
                        <h5>{{type}}</h5>
                    </b-col>
                    <b-col class="pl-0">
                        <b-input-group prepend="Quality">                   
                            <b-form-select id="category-select" v-model="quality" :options="qualities" />
                        </b-input-group>
                    </b-col>
                </b-row>
            </b-col>
            <b-col sm="12" md="6" lg="7" xl="8">
            
                <b-input-group v-if="type === 'Movies'">
                    <b-form-input type="text" placeholder="Search here..." v-model="searchText" @keyup.enter.native="search" />
                    <b-input-group-append>
                        <b-button @click="search" >Search</b-button>
                    </b-input-group-append>
                </b-input-group>
                <b-input-group v-if="type === 'TV'">
                    <b-form-input type="text" placeholder="Show Name" v-model="searchText" @keyup.enter.native="searchTv" />
                    <b-form-input type="number" placeholder="Season" v-model="searchSeason" @keyup.enter.native="searchTv" />
                    <b-form-input type="number" placeholder="Episode" v-model="searchEpisode" @keyup.enter.native="searchTv" />
                    <b-input-group-append>
                        <b-button @click="searchTv" >Search</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
        </b-row>
    </div>
    <b-container style="margin-top: 150px">
        <loading :isLoading="isLoading" />
        <b-row>
            <b-col class="mt-2" sm="12" md="6" lg="4" xl="3" v-for="(result, index) in searchResults" :key="result.linkid" v-if="!result.error" >
                <video-component :data="result" :index="index"/>
            </b-col>
            <b-col cols="12" class="mt-2">
                <b-button @click="loadMore()" variant="dark" class="w-100">
                    <span v-if="!isLoading">LOAD MORE</span>
                    <div v-if="isLoading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </b-button>
            </b-col>
        </b-row>
    </b-container>
</div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import itiService, {itiLink, itiLinkResponse}  from "../services/iti.service";
import authService from "../services/auth.service";
import VideoComponent from "./Video.vue";
import Loading from "./Loading.vue";
import EventBus from '../event-bus';

Component.registerHooks([
  'beforeRouteEnter',
  'beforeRouteLeave',    
])

@Component({
    components: {VideoComponent, Loading}
})
export default class SearchComponent extends Vue {
    quality: string = 'HD';
    secondNavTop: boolean = false;
    categories = [
        { value: '', text: 'All'},
        { value: 'TV', text: 'TV Shows'},
        { value: 'Movies', text: 'Movies'}
    ];
    qualities = [
        { value: '', text: 'All'},
        { value: 'HD', text: 'HD', },      
        { value: 'SD', text: 'SD'}
        
    ];
    searchText: string = "";
    searchSeason: string = "";
    searchEpisode: string = "";
    isLoading: boolean = true;
    get searchResults(): itiLink[] { return this.fullSearchResults.results.filter(x => this.quality ? x.child == this.quality : true); }
    fullSearchResults: itiLinkResponse = { page: 0, results: [] };
    @Prop({ required: true})
    type!: string;
    
    @Watch('type')
    OnTypeChange() {
        this.fullSearchResults =  { page: 0, results: [] };
        this.searchText = "";
        this.searchSeason = "";
        this.searchEpisode = "";
        this.quality = "";
        this.search();
    }



    constructor() { 
        super(); 
        
    }
    

    mounted() {
        this.checkPinned();
        this.search();
    }


    checkPinned() {
        this.secondNavTop = false;
        EventBus.$on('pinSecondNav', (val: boolean) => {
            this.secondNavTop = val;
        });
    }

    isAuthorized() {
        return authService.isAuthorized;
    }
    
    loadMore() {
        this.fullSearchResults.page++;
        this.search(true);
    }

    search(append: boolean = false) {
        this.isLoading = true;
        itiService.search(this.searchText, this.type, this.quality, append ?  this.fullSearchResults.page : 0).then(results => {
            if (append === true) {
                this.fullSearchResults.results = this.fullSearchResults.results.concat(results.results);
            } else {
                this.fullSearchResults = results;
            }
            this.isLoading = false;
            });
    }
    searchTv() {
        this.isLoading = true;
        if (this.searchSeason) {
            itiService.searchTv(this.searchText, this.searchSeason, this.searchEpisode).then(results => {this.fullSearchResults.results = results; this.isLoading = false;});
        } else {
            itiService.search(this.searchText, this.type, this.quality, this.fullSearchResults.page).then(results => {this.fullSearchResults = results; this.isLoading = false;});
        }
    }

}

</script>

<style>

</style>
