<template>
    <div class="fixed-bottom status-bar">
        <b-btn class="float-right" variant="dark" @click="showCollapse = !showCollapse"><b-img height="26" src="./Downloads-icon.png" /></b-btn>
        <b-collapse v-model="showCollapse" id="collapse1">
            <div role="tablist" class="downloads">
                <b-card bg-variant="dark" no-body v-for="(pkg) in packages"  :key="pkg.uuid">
                    <b-card-header header-tag="header" class="p-1" role="tab">                    
                        <b-progress v-b-toggle="pkg.uuid.toString()" height="2rem" :max="200"  :variant="pkg.extracting ? pkg.exVariant : pkg.dlVariant" style="cursor:pointer">
                            <b-progress-bar :value="pkg.extracting ? extractionValue(pkg) + 100 : pkg.progressPercent">
                                {{pkg.name}} {{pkg.status}}
                            </b-progress-bar>
                        </b-progress>
                    </b-card-header>
                    <b-collapse :id="pkg.uuid.toString()" accordion="my-accordion" role="tabpanel">
                        <b-card-body>
                            <b-row>
                                <b-col>  
                                    Download {{pkg.progress.eta}}
                                </b-col>
                                <b-col cols="1">
                                    <b-btn class="float-right" :variant="pkg.deleteDownloadStatus == 'init' ? 'danger' : pkg.deleteDownloadStatus == 'confirm' ? 'warning' : 'success'" @click="deleteDownload(pkg)">
                                        <b-img src="./icons8-trash.png" v-if="pkg.deleteDownloadStatus == 'init'"></b-img>
                                        <span v-if="pkg.deleteDownloadStatus == 'confirm'">?</span>
                                        <span v-if="pkg.deleteDownloadStatus == 'success'">DELETED</span>
                                        <span v-if="pkg.deleteDownloadStatus == 'failure'">FAILED</span>
                                    </b-btn>
                                </b-col>
                            </b-row>
                            <b-progress height="2rem" :max="100"  :variant="pkg.dlVariant">
                                <b-progress-bar :value="pkg.progressPercent">
                                    {{pkg.progress.percent}} {{pkg.progress.speedInMb != 0 ? ' @ ' + pkg.progress.speedInMb : '' }}
                                </b-progress-bar>                            
                                
                            </b-progress>
                            <div v-if="pkg.extracting" class="mt-3"> 
                                Extraction 
                                <b-progress height="2rem" :max="100" :variant="pkg.exVariant">
                                    <b-progress-bar :value="extractionValue(pkg)">
                                        {{pkg.progress.extraction}}
                                    </b-progress-bar>
                                </b-progress>
                            </div>
                        </b-card-body>
                    </b-collapse>
                </b-card>
                <b-card bg-variant="dark" class="mb-1" v-if="packages.length == 0">No Downloads</b-card>
            </div>
        </b-collapse>
        
    </div>
</template>


<script lang="ts">
import { Vue, Component} from 'vue-property-decorator';
import jdService, {jdPackage} from '../services/jd.service';
import EventBus, {socket} from '../event-bus';
import { clearInterval, setInterval } from 'timers';
@Component
export default class  StatusBar extends Vue {
    packages: jdPackage[] = [];
    interval: any;
    secondNavTop: string = '56px';
    socket: any;
    firstReceiving: boolean = false;
    showCollapse: boolean  = false;
    constructor() {
        super();
        this.socket = socket;
    }

    created() {       
        this.setupPolling();
        EventBus.$on('showDownloads', () => this.showCollapse = true);
    }

    setupPolling() {
        EventBus.$on('pinSecondNav', (val: boolean) => {
            this.secondNavTop = val ? '0px' : '56px';
        });
        this.firstReceiving = true;
        this.socket.on('packages', this.updatePackages);
        
        this.socket.emit('packages', true);
    }

    extractionValue(pkg: jdPackage) {
        const total = pkg.extractionTotal || 0;
        const progress = pkg.extractionProgress || 0;
        return (total - progress) / total * 10000 / 100;
    }
    beforeDestroy() {
        this.socket.removeAllListeners('packages');
    }

    async deleteDownload(pkg: jdPackage) {
        if (pkg.deleteDownloadStatus == 'init') {
            pkg.deleteDownloadStatus = 'confirm';
        } else if (pkg.deleteDownloadStatus == 'confirm') {
            const result = await jdService.removeDownload(pkg);
            if (result.success) {
                pkg.deleteDownloadStatus = 'success';
            } else {
                pkg.deleteDownloadStatus = 'failure';
            }
        }
    }

    updatePackages(packages: jdPackage[]) {
        this.packages.forEach((p, index) => {
            const packageId = packages.findIndex(x => x.uuid == p.uuid);
            if (packageId == -1) {
                this.packages.splice(index, 1);
            } 
        });  
        packages.forEach(p => 
            this.addPackageDetails(p)
        );

 
        this.firstReceiving = false;     
    }

    private addPackageDetails(p: jdPackage) {
        let packageId = this.packages.findIndex(x => x.uuid == p.uuid);
        let newPackage = false;
        if (packageId == -1) {
            packageId = this.packages.length;
            this.packages[packageId] = p;            
            if (!this.firstReceiving) {
                newPackage = true;
            }     
        }
        const pkg = this.packages[packageId];
        if (pkg.progress.eta  == 'NaNmNaNs' || !pkg.progress.eta) {                    
            pkg.progress.eta = 'Complete';
        }
        p.exVariant = 'dark';
        p.dlVariant = 'dark';
        p.extractionProgress = p.extractionProgress || 0;
        p.extractionTotal = pkg.extractionTotal || p.extractionProgress;
        p.deleteDownloadStatus = pkg.deleteDownloadStatus || 'init';            
        if (p.status) {
            if (p.status.includes('Extraction error:')) {
                p.extracting = true;
                p.extractionProgress = 0;
                p.extractionTotal = 100;
                p.progress.extraction = 'Error';
                p.progress.eta = "Complete";
                p.dlVariant = 'success';
                p.exVariant = 'danger';
            } else if (p.status.includes('Extraction OK')) {
                p.extractionProgress = 0;
                p.extractionTotal = 100;
                p.progress.extraction = 'Success';
                p.progress.eta = "Complete";
                p.extracting = true;
                p.exVariant = 'success';
            } else if (p.status.includes('Extracting')) {
                p.progress.eta = "Complete";
                p.exVariant = 'primary';
            } else {
                p.extracting = false;
            }
            if (p.status.includes('Download')) {
                p.dlVariant = 'primary';
            } else if (pkg.finished) {
                p.dlVariant = 'success';
                p.progress.eta = 'Complete';
            }               
        } else {
            
            if (p.running) {
                p.dlVariant = "primary";
            } else {
                p.progress.eta = 'Not Running';
            }
        }
        
        Vue.set(this.packages, packageId, p );
        if (newPackage) {
            EventBus.$emit('packageAdded', this.packages[packageId]);
        }       
    }
}




</script>
