<template>
    <div>
        <loading :isLoading="isLoading" />
        <div class="second-nav align-items-center"  v-bind:class="{shift: !secondNavTop }">
                <span>Subscriptions</span>
                <b-btn @click="addSubscriptionCollapse = !addSubscriptionCollapse">{{addSubscriptionCollapse ? '-' : '+'}}</b-btn>
        </div>
        <b-container style="margin-top:150px;">
            <b-list-group  role="tablist">
                <b-list-group-item variant="dark" v-if="addSubscriptionCollapse">
                    <b-input-group>
                        <b-form-input type="text" placeholder="Show Name" v-model="showNameInput" />
                        <b-input-group-append><b-btn @click="findShow">Find</b-btn></b-input-group-append>
                    </b-input-group>
                </b-list-group-item>
                <b-list-group-item variant="dark" v-if="addSubscriptionCollapse">
                    <div class="mt-2" v-for="(result, index) in showSearchResults" :key="result.id">
                        <video-info-component :data="result" :index="index" :onClick="selectShow"/>
                    </div>
                    <b-list-group>
                        <b-list-group-item  v-for="(season) in showSeasonSearchResults" :key="season.id" class="bg-dark text-white d-flex justify-content-between align-items-center">                      
                                <span>{{season.name}} {{season.airYear ? `(${season.airYear})` : ''}}</span>
                                <b-button class="h-100" @click="addSubscription(season.seasonNumber)" :disabled="season.inPlex || season.hasSubscription">{{season.inPlex ? 'In Plex' : season.hasSubscription ? 'Subscription Exists': 'Request'}}</b-button>
                        </b-list-group-item>
                    </b-list-group>
                </b-list-group-item>
                <b-list-group-item variant="dark" v-for="sub in subscriptions" :key="sub.id">
                    <div @click="sub.showCollapse = !sub.showCollapse" style="cursor: pointer; font-weight: bold;">{{sub.name}} Season {{sub.season}}</div>
                    <b-collapse v-model="sub.showCollapse" :id="sub.id.toString()" accordion="subsAccordion"  role="tabpanel">
                        <b-row>
                            <b-col cols="6" md="4" lg="2" v-for="episode in sub.episodes" :key="episode.id" class="mt-2">
                                <b-card bg-variant="dark" text-variant="white" no-body class="h-100">
                                    <b-card-header  class="h-100 sub-episode" >
                                        S{{sub.season}}E{{episode.episode}} - {{episode.name}} <br/> ({{episode.airDate != '01-01-9999' ? episode.airDate : 'Unknown'}})
                                        <div class="sub-tags">
                                            <b-badge :variant="episode.inPlex ? 'success' : 'danger'">IN PLEX</b-badge>
                                            <b-badge v-if="!episode.inPlex" :variant="episode.airDate != '01-01-9999' && Date.parse(episode.airDate) > Date.now() ? 'info' : episode.itiStatus > 2 ? 'danger' : 'secondary'">
                                                {{episode.airDate != '01-01-9999' && Date.parse(episode.airDate) > Date.now() ? 
                                                    'FUTURE DOWNLOAD' : 
                                                episode.itiStatus == 3 ? 
                                                    'DOWNLOAD NOT FOUND' : 
                                                episode.itiStatus == 4 ? 
                                                    'DOWNLOAD ERROR' : 
                                                'DOWNLOAD'}}
                                            </b-badge>
                        
                                        </div>
                                    </b-card-header>
                                    
                                </b-card>
                            </b-col>
                        </b-row>                        
                        <b-btn variant="danger" class="float-right" @click="removeSub(sub)">Delete Subscription</b-btn>
                    </b-collapse>
                </b-list-group-item> 
            </b-list-group>
        </b-container>
    </div>
</template>


<script lang="ts">
import {Vue, Component} from 'vue-property-decorator';
import subService from '../services/sub.service';
import EventBus from '../event-bus';
import Loading from './Loading.vue';
import VideoInfoComponent from './VideoInfo.vue';
@Component({components: {Loading, VideoInfoComponent}})
export default class SubscriptionsComponent extends Vue {
    isLoading: boolean = false;
    addSubscriptionCollapse: boolean = false;
    secondNavTop: boolean = false;
    subscriptions: any[] = [];
    chosenShow: boolean = false;
    showName: string = '';
    showNameInput: string = '';
    season: number = 0;
    showId: number = -1;
    showSearchResults: any[] = [];
    showSeasonSearchResults: any[] = [];
    mounted() {
        this.getSubscriptions();
        EventBus.$on('pinSecondNav', (val: boolean) => {
            this.secondNavTop = val;
        });
    }
    
    async getSubscriptions(): Promise<any> {
        this.isLoading = true;
        const subs = await subService.getSubscriptions();       
        subs.data.forEach((x: any) => {
            x.showCollapse = false;
        });
        this.isLoading = false;
        
        this.subscriptions = subs.data;
        
        return this.subscriptions;

    }

    async findShow() {
        const results = await subService.findTvShow(this.showNameInput);
        if (results.data) {
            this.showSearchResults = results.data;
            this.showSeasonSearchResults = [];
        }
        this.showName = this.showNameInput;
    }

    async selectShow(showId: number) {
        this.showId = showId;
        this.showSearchResults = this.showSearchResults.filter(x => x.id == showId);
        const results = await subService.findTvShow(this.showName, showId)
        if (results.data) {
            await this.checkSeasons(results.data);
        }
    }

    async checkSeasons(seasons: any) {
        
        const results = await subService.searchPlexForTvShow(this.showSearchResults[0].name);
        const hasSeasons: any = {};
        if (results.data) {
            results.data.forEach((episode: any) => {
                hasSeasons[episode.season] = hasSeasons[episode.season] ? hasSeasons[episode.season] + 1 : 1;
            });
        }

        seasons.forEach((season: any) => {
            // check if a subscriptions exists
            const subscription = this.subscriptions.find(x => x.name == this.showSearchResults[0].name && x.season == season.seasonNumber);
            if (subscription) {
                season.hasSubscription = true;
            }
            // check if it's in plex
            if (hasSeasons[season.seasonNumber] && hasSeasons[season.seasonNumber] >= season.numberOfEpisodes) {
                season.inPlex = true;
            }
            
        });

        this.showSeasonSearchResults = seasons;
    }   
    

    async addSubscription(season: number) {
        // DO SOMETHING
        const success = await subService.addSubscription(this.showName, season, this.showId);
        if (success.data) {
            const subs = await this.getSubscriptions();
            const sub = subs.find((s: any) => s.showName == this.showName && s.season == this.season);
            if (sub) {
                sub.showCollapse = true;
            }
            this.showName = '';
            this.season = 0;
            this.showSeasonSearchResults.find(x => x.seasonNumber == this.season).hasSubscription = true;
        }
        
        
    }

    async removeSub(sub: any) {
        const success = await subService.deleteSubscription(sub.name, sub.season, sub.id);
        if (success) {
            await this.getSubscriptions();
        }
    }
    
}

</script>
