<template>
<b-card   
    no-body 
    bg-variant="dark" text-variant="white"
    style="height:100%"
    overlay
>   
    <b-card-header class="video-header">
        <b-row>
            <b-col style="cursor: pointer" @click="toggleImage">
                <div class="video-header-title" slot="title">
                    <div  class="video-title">{{data.name}} ({{data.firstYear}})</div>
                    <div class="video-tags">
                        <b-badge :variant="idx % 4 == 0 ? 'success' : idx % 3 == 0 ? 'primary' : idx % 2 == 0 ? 'secondary': 'danger'" v-for="(tag,idx) in data.genres" :key="idx">{{tag.toUpperCase()}}</b-badge>
                    </div>
                </div>              
            </b-col>
            <b-col cols="2" md="3" class="more-button"> 
                    <b-button class="h-50" size="sm" style="left: 0" @click="toggleImage">{{showImage ? 'X' : '...'}}</b-button>
                    <b-button size="sm" style="right: 0" variant="warning" v-if="!showDownloadButton" @click="showDownloadButton=true">!</b-button>          
                    <b-button class="h-50" size="sm" style="padding-left: 5px" variant="dark" v-if="showDownloadButton" @click="onClick(data.id)" :disabled="linksAdded"><div v-if="loadingLinksAdded" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div><b-img v-if="!loadingLinksAdded" :src="linksAdded ? './subs-icon-done.png' : './sub-icon.png'"></b-img></b-button>                 
            </b-col>
        </b-row>
    </b-card-header>
    <b-collapse v-model="showImage" :id="'movie-sub'+data.idx">       
        <b-card-img v-bind:src="data.posterPath" @click="flipImage" :style="{opacity: flippedImage ? '0' : '100', cursor: 'pointer'}"></b-card-img>
        <div class="flip-image" v-if="flippedImage">
            <p>
                {{data.description}}
            </p>
        </div>
    </b-collapse>
</b-card>    
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { itiLink } from "../services/iti.service";
import subService from '../services/sub.service';
import SearchComponent from './Search.vue';
import parse from 'parse-torrent-name';
import {socket} from '../event-bus';
@Component
export default class VideoInfoComponent extends Vue {
    showLinks: boolean = false;
    linksAdded: boolean = false;
    showDownloadButton: boolean = true;
    inPlex: boolean = false;
    showImage: boolean = false;
    loadingLinksAdded: boolean = false;
    flippedImage: boolean = false;
    imageRef?: string[] = [];
    loadedImageRef?: boolean;
    constructor() {
        super();
    }
    @Prop()
    data!: TvResult;

    @Prop()
    index!: number;

    @Prop()
    onClick: any;

    toggleImage() {
        this.showImage = !this.showImage;
        this.flippedImage = false;
    }
    async flipImage() {
        this.flippedImage = !this.flippedImage;
    }
}


export interface TvResult {
    id: number;
    name: string;
    voteAverage: number;
    posterPath: string;
    firstAirDate: string;
    firstYear: string;
    description: string;
    genres: string[];
}
</script>
