<template>
<b-card   
    no-body 
    bg-variant="dark" text-variant="white"
    style="height:100%"
    overlay
>   
    <b-card-header class="video-header">
        <b-row>
            <b-col style="cursor: pointer" @click="toggleImage">
                <div class="video-header-title" slot="title">
                    <div v-html="data.title" class="video-title" :style="{'font-size': data.title.length > 50 ? '90%': 'inherit'}"></div>
                    <div class="video-tags">
                        <b-badge v-if="inPlex" variant="warning">IN PLEX</b-badge><b-badge :variant="data.child == 'HD' ? 'success' : 'secondary'">{{data.child}}</b-badge><b-badge :variant="tag.match(/\d+(p|i)/) != null ? 'primary' : 'info'" v-for="(tag,idx) in data.tags.split(', ').filter(x => !!x)" :key="idx">{{tag.toUpperCase()}}</b-badge>
                    </div>
                </div>              
            </b-col>
            <b-col cols="2" md="3" class="more-button"> 
                    <b-button class="h-50" size="sm" style="left: 0" @click="toggleImage">{{showImage ? 'X' : '...'}}</b-button>
                    <b-button size="sm" style="right: 0" variant="warning" v-if="!showDownloadButton" @click="showDownloadButton=true">!</b-button>          
                    <b-button class="h-50" size="sm" style="right: 0" variant="dark" v-if="showDownloadButton" @click="requestDownload()" :disabled="linksAdded"><div v-if="loadingLinksAdded" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div><b-img v-if="!loadingLinksAdded" :src="linksAdded ? './added-to-plex.png' : './add-to-plex.png'"></b-img></b-button>                 
            </b-col>
        </b-row>
    </b-card-header>
    <b-collapse v-model="showImage" :id="data.linkid">       
        <b-card-img v-bind:src="getImagePoster(data.poster)" @click="flipImage" :style="{opacity: flippedImage ? '0' : '100', cursor: 'pointer'}"></b-card-img>
        <div class="flip-image" v-if="flippedImage">
            <ul>
                <li v-for="link in imageRef" :key="link"><a :href="link">{{link}}</a></li>
            </ul>
        </div>
    </b-collapse>
</b-card>    
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { itiLink } from "../services/iti.service";
import itiService from '../services/iti.service';
import jdService from '../services/jd.service';
import SearchComponent from './Search.vue';
import parse from 'parse-torrent-name';
import {socket} from '../event-bus';
@Component
export default class VideoComponent extends Vue {
    showLinks: boolean = false;
    linksAdded: boolean = false;
    showDownloadButton: boolean = true;
    inPlex: boolean = false;
    showImage: boolean = false;
    loadingLinksAdded: boolean = false;
    flippedImage: boolean = false;
    imageRef?: string[] = [];
    loadedImageRef?: boolean;
    constructor() {
        super();
        this.showButton();
    }
    @Prop()
    data!: itiLink;

    @Prop()
    index!: number;



    async showButton() {
        const data = parse(this.data.title);
        if (this.data.parent == 'Movies') {
            socket.emit('isInPlex', {name: data.title, type: this.data.parent}, 
            (val: boolean) => {
                this.showDownloadButton = !val;
                this.inPlex = val;
            }
            );
        }
        if (this.data.parent == 'TV') {
            socket.emit(
                'isInPlex', 
                {name: data.title, season: data.season, episode: data.episode, type: this.data.parent}, 
                (val: boolean) => {
                    this.showDownloadButton = !val;
                    this.inPlex = val;
                }
            );
        }
    }

    getImagePoster(str: string) {
        const match = str.match(new RegExp("<em><img src=\\\"(.*)\\\"></em>"));
        if (match) {
            return match[1];
        }
        return null;
    }

    toggleImage() {
        this.showImage = !this.showImage;
        this.flippedImage = false;
    }
    async flipImage() {
        if (!this.flippedImage && !this.loadedImageRef) {
            const result = await itiService.getImageRefs(this.data.linkid);
            this.loadedImageRef = true;
            this.imageRef = result;
        }
        this.flippedImage = !this.flippedImage;
    }

    async requestDownload() {
        this.loadingLinksAdded = true;
        const result = await jdService.addLinks(this.data.title, this.data.linkid);
         this.loadingLinksAdded = false;
        if (result && result.success) {
            this.linksAdded = true;
            this.showImage = false;
            this.flippedImage = false;
        }
        
    }
    
        
    
}
</script>
