ul.video {
    list-style:none;
    margin-left: 0;
}

body {
    background-color: #555;
    color: #AAA;
    margin-bottom: 50px;
}

.second-nav {
    padding: 0.5rem 1rem;
    background-color: #272a2d;
    z-index: 4;
    top: 56px;
    position: fixed;
    width: 100%;
    transition: all .250s ease-in-out;
    top: 0px;
}

.second-nav.shift {
  top: 56px;
}

@media (max-width: 370px) {
  .second-nav.shift {
    top: 96px;
  }
}

.more-button button.btn {
    display:block;
    width: 100%;
    min-height: 42px;
    height:50%;

}
.more-button {
    /*padding-left: 25px;*/
    padding-right: 15px;
}
.more-button.col-2 {
  max-width: 21%;
}

.card-header.video-header .col {
    padding-right: 0;
}
.more-button button.btn:nth-child(1) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.flip-image {
    position: absolute;
    top: 100px;
}

.more-button button.btn:nth-child(2) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.more-button > div {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-left: -125%;
}

.card-header.video-header {
    padding: 0;
}
.card-header .video-header-title {
    padding: 0.4rem 0 1.1rem 0.9rem;
}



.card-header .badge {
    font-family: monospace;
    font-size: 90%;
    border-radius: 0;
}
.card-header .badge:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.card-header .badge:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.video-tags {
    position: absolute;
    bottom: -3px;
    left: 14px;
}

.sub-tags {
  position:absolute;
  bottom: -2px;
  left: -1px;
}

.sub-tags .badge:nth-child(2) {
  margin-left: -5px;
}

.sub-episode {
  padding: 0.5rem 0.5rem 1.1rem 0.5rem;
}

.video-title {
    font-weight: bold;
}

.cat-select select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.quality-select .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;   
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-enter-active .container {
    position: absolute;
}
.slide-fade-leave-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active .container{ 
    position: absolute;
}
.slide-fade-enter {
    transform: translateX(-100%);
    opacity: 0;   
}
.slide-fade-enter .container {
    position: absolute;
}
.slide-fade-leave-to .container {
    position: initial;
}

.slide-fade-leave-to
{
    transform: translateX(-100%);
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

.progress {
    background-color: #222;
}

.global-alerts{
    float:right;
    max-width: 500px;
    left: initial;
}

 {
  padding: 0;
}

.login-dropdown .dropdown-menu {
  left: unset;
  right: 0;
  padding: 0;
}
.login-dropdown .dropdown-menu {
    background: #202427;
}

.login-dropdown .dropdown-item {
  background: #202427;
  color: #AAA;
  padding: 0.75rem 0rem;
  text-align: center;
  
  
}
.login-dropdown .dropdown-item:hover {
    background:#323940;
    color: #EEE;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }

.loading-indicator {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0,0,0,0.7);
    z-index:9999;
    transition: opacity .5s;
} 
.loading-indicator .lds-ripple {
    left:calc(50% - 32px);top:calc(50% - 32px);
}

.status-bar .downloads {
    background-color: #272a2d;
    margin-bottom: -4px;
}

.downloads .row .col:first-child {
    padding-right: 0;
}
.downloads .row .col:last-child {
    padding: 0;
}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: -7px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 13px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 3px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 3px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 13px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 27px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(9px, 0);
    }
  }

  

  .separator {
    border-left: 2px groove grey;
    border-right: 2px groove grey;
    writing-mode: vertical-rl;
    text-align: center;
    font-size: 12px;
    min-height: 56px;
  }


  .navbar {
    padding: 0 0.25rem;
    
  }

  .navbar h1 {
    padding: 0;
    padding-right: 0.25rem;
    font-size: 1rem;
    color: #FFF;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links a {
    cursor: pointer;
    align-self: stretch;
    display: flex;
  }

  .nav-links a:hover {
    background: rgba(0,0,0,0.2);
  }

  .nav-links a.router-link-active {
    background: rgba(255,255,255, 0.1);
  }
  .nav-links a img, .nav-links a span {
    margin: auto;
  }

  .nav-links a:nth-child(2) {
    border-right: 2px groove grey;
  }

  .nav-links a:not(.separator) {
    padding: 0 0.5rem;
  }
